body 
{
  background-color: gray;
}
h1 
{
  color: white;
  text-align: center;
  font-size: 46px
}
p 
{
  color: black;
}
form
{  
  text-align: center;
}
button
{
	color: black;
	padding: 10px 10px;
}